@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/Service_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="get_text">

                <h3>Thanks For Registration at Micro Assistant Account</h3>
                <div class="clear" style="height:20px;"></div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    Now you can login with credentials, which has been sent in your registered email at Micro Assistance!
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3"></div>


            <div class="clear" style="height:20px;"></div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
