@{
    ViewBag.Title = "Job Description";
    Layout = "~/Views/Shared/Service_Layout.cshtml";
}

    <!--section close-->


    <div class="section pro_bg2" style="padding-top:0px;">

        <div class="container">
            <div class="row search_cont">
                <div class="col-lg-12">
                    <a href=""><i class="fa fa-search"></i><span>Search</span></a>
                    <a href="AdPost"><img src="../images/post.png" class="img-responsive_new">Post</a>
                </div>
                <div class="clear"></div>
                <div class="col-sm-10" style="padding:5px;">
                    <input type="text" class="form-control" placeholder="Job title, keywords">
                    <div class="clear" style="height:10px;"></div>
                </div>
                <div class="col-sm-2" style="padding:5px;">

                    <button class="button_join3 ">search</button>
                </div>
            </div>

            <div class="clear" style="height:30px;"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pro_text3">
                        <h2>book family vacation</h2>


                        <div class="clear" style="height:20px;"></div>

                        <button class="button_join5"><img src="../images/msg_box.png" class="img-responsive_new"><span>i'm interested</span></button>

                        <div class="clear" style="height:30px;"></div>
                        <h3>Location:<span>Anywhere</span></h3>
                        <h3>Pay:<span>$50.00</span></h3>
                        <h3>Posted By:<span>Agent</span></h3>
                        <div class="clera" style="height:10px;"></div>
                        <h3>Description:</h3>
                        <p>
                            Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet. Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet. Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet. Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet. Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet <br><br>

                            Lorem ispum dolor sit amet Lorem ispum dolor sit amet. Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet. Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet. <br><br>

                            Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet.<br><br>

                            Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet.Lorem ispum dolor sit amet. Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet Lorem ispum dolor sit amet.
                            <br><br>
                            Pay: $50.00
                            <br><br>
                            Please feel free to call us.<br></br>

                            Regards, <br>
                            Robert Smith<br>
                            8900 ABCD Road, XYZ, AB4 89GR.<br>
                            Phone: 1 800 500 0000<br>
                            Email: mail@demolink.com<br>
                        </p>

                        <div class="clear" style="height:15px;"></div>
                        <a href=""><img src="../images/map_icon.png" class="img-responsive_new"><span>View Map</span></a>

                        <div class="clear" style="height:30px;"></div>
                        <a href=""><button class="button_join1" style="margin-left:0px;">Previous</button></a><a href=""><button class="button_join2">Next</button></a>

                    </div>

                </div>
            </div><!--row close-->
            <div class="clear" style="height:40px;"></div>

        </div><!--container close-->

    </div><!--section close-->
    <div class="clear" style="height:20px;"></div>


    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pro_text2">
                        <h3>Similar AD</h3>
                        <div class="clear" style="height:15px;"></div>
                    </div>
                </div>
                <div class="clear" style="height:30px;"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top_box1">
                        <div class="caption">
                            <div class="col-sm-3" style="padding-left:0px;"><img src="../images/img1.png"></div>
                            <div class="col-sm-9" style="padding-left:0px;">
                                <h2>Lorem Ispum Dolor Sit Amet</h2>
                                <div class="clear" style="height:10px;"></div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p><img src="../images/home_icon.png" class="img-responsive_new">Location:<span> Anywhere</span></p>
                                </div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p> <img src="../images/posted.png" class="img-responsive_new">Posted on:<span>17/01/2015</span></p>
                                </div>
                                <div class="clear" style="height:5px;"></div>
                                <p><img src="../images/pay.png" class="img-responsive_new">Pay:<span> $50.00</span></p>
                            </div>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top_box1">
                        <div class="caption">
                            <div class="col-sm-3" style="padding-left:0px;"><img src="../images/img2.png"></div>
                            <div class="col-sm-9" style="padding-left:0px;">
                                <h2>Lorem Ispum Dolor Sit Amet</h2>
                                <div class="clear" style="height:10px;"></div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p><img src="../images/home_icon.png" class="img-responsive_new">Location:<span> Anywhere</span></p>
                                </div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p> <img src="../images/posted.png" class="img-responsive_new">Posted on:<span>17/01/2015</span></p>
                                </div>
                                <div class="clear" style="height:5px;"></div>
                                <p><img src="../images/pay.png" class="img-responsive_new">Pay:<span> $50.00</span></p>
                            </div>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top_box1">
                        <div class="caption">
                            <div class="col-sm-3" style="padding-left:0px;"><img src="../images/img3.png"></div>
                            <div class="col-sm-9" style="padding-left:0px;">
                                <h2>Lorem Ispum Dolor Sit Amet</h2>
                                <div class="clear" style="height:10px;"></div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p><img src="../images/home_icon.png" class="img-responsive_new">Location:<span> Anywhere</span></p>
                                </div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p> <img src="../images/posted.png" class="img-responsive_new">Posted on:<span>17/01/2015</span></p>
                                </div>
                                <div class="clear" style="height:5px;"></div>
                                <p><img src="../images/pay.png" class="img-responsive_new">Pay:<span> $50.00</span></p>
                            </div>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top_box1">
                        <div class="caption">
                            <div class="col-sm-3" style="padding-left:0px;"><img src="../images/img4.png"></div>
                            <div class="col-sm-9" style="padding-left:0px;">
                                <h2>Lorem Ispum Dolor Sit Amet</h2>
                                <div class="clear" style="height:10px;"></div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p><img src="../images/home_icon.png" class="img-responsive_new">Location:<span> Anywhere</span></p>
                                </div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p> <img src="../images/posted.png" class="img-responsive_new">Posted on:<span>17/01/2015</span></p>
                                </div>
                                <div class="clear" style="height:5px;"></div>
                                <p><img src="../images/pay.png" class="img-responsive_new">Pay:<span> $50.00</span></p>
                            </div>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top_box1" style="border-bottom:none;">
                        <div class="caption">
                            <div class="col-sm-3" style="padding-left:0px;"><img src="../images/img5.png"></div>
                            <div class="col-sm-9" style="padding-left:0px;">
                                <h2>Lorem Ispum Dolor Sit Amet</h2>
                                <div class="clear" style="height:10px;"></div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p><img src="../images/home_icon.png" class="img-responsive_new">Location:<span> Anywhere</span></p>
                                </div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p> <img src="../images/posted.png" class="img-responsive_new">Posted on:<span>17/01/2015</span></p>
                                </div>
                                <div class="clear" style="height:5px;"></div>
                                <p><img src="../images/pay.png" class="img-responsive_new">Pay:<span> $50.00</span></p>
                            </div>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="top_box1" style="border-bottom:none;">
                        <div class="caption">
                            <div class="col-sm-3" style="padding-left:0px;"><img src="../images/img6.png"></div>
                            <div class="col-sm-9" style="padding-left:0px;">
                                <h2>Lorem Ispum Dolor Sit Amet</h2>
                                <div class="clear" style="height:10px;"></div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p><img src="../images/home_icon.png" class="img-responsive_new">Location:<span> Anywhere</span></p>
                                </div>
                                <div class="col-sm-6" style="padding-left:0;padding-right:0px;">
                                    <p> <img src="../images/posted.png" class="img-responsive_new">Posted on:<span>17/01/2015</span></p>
                                </div>
                                <div class="clear" style="height:5px;"></div>
                                <p><img src="../images/pay.png" class="img-responsive_new">Pay:<span> $50.00</span></p>
                            </div>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

            </div><!--row close-->

            <div class="clear" style="height:10px;"></div>

        </div><!--container close-->

    </div>

