<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>::Micro Assistant::</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="icon" type="/image/ico" href="images/BAF-favicon1.ico" />
<!-- Add custom CSS here -->
<link href="css/modern-business.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<!-- /.section -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="get_text">
        
        <h3>Post An AD</h3>
		
       <div class="clear" style="height:10px;"></div>
       <div class="col-lg-3 col-md-3 col-sm-3"></div>
       <div class="col-lg-6 col-md-6 col-sm-6 ">
       <h4>Welcome Robert Smith</h4>
	   <hr>
       <form>
       <div class="form-group">
    <label for="exampleInputEmail1" class="text">What are you posting?</label>
    <input type="text" class="form-control " id="exampleInputEmail1" >
  </div>
  <div class="clear" style="height:15px;"></div>
      
     <div class="form-group">
    <label for="exampleInputEmail1" class="text">Select a Category</label>
	<div class="clear"></div>
	<div class="col-sm-6" style="padding-left:0px;">
    <select class="form-control  " id="exampleInputEmail1" >
		<option>--</option>
		<option>category 1</option>
		<option>category 2</option>
	
	</select>
	</div>
	<div class="col-sm-6"></div>
  </div> 
  <div class="clear" style="height:15px;"></div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="text">description</span></label>
	<div class="clear"></div>
    <textarea rows="3" class="form-control"></textarea>
  </div>
  <div class="clear" style="height:15px;"></div>
  
  
  
  
  
  <div class="clear" style="height:15px;"></div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text">Phone</label>
    <input type="tel" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="clear" style="height:15px;"></div>
	<div class="form-group">
	<div class="col-sm-6" style="padding-left:0;">
    <label for="exampleInputEmail1" class="text">City</label>
	<input type="tel" class="form-control" id="exampleInputPassword1">
	</div>
	
	<div class="col-sm-6" style="padding-left:0;">
	<label for="exampleInputEmail1" class="text">State</label>
	<div class="clear"></div>
	<div style="padding-left:0px;">
    <select class="form-control  " id="exampleInputEmail1" >
		<option>--</option>
		<option>category 1</option>
		<option>category 2</option>
	
	</select>
	</div>
  </div>
    </div>
	
	<div class="clear" style="height:40px;"></div>
	<h5 class="text1"> By Clicking on submit add, you agree to our <a href="">Terms</a> and<a href=""> Privacy Policy</a>.</h5>
	<div class="clear" style="height:50px;"></div>
  <button type="submit" class="btn btn-lg button_join4">Submit</button>
    
      
   
    
 
 
  
</form>
       
       </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-3"></div>
       
        
        <div class="clear" style="height:20px;"></div>
        
      </div>
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /.section -->
<div class="clear" style="height:40px;"></div>
<div class="section " style="padding-top:0; padding-bottom:0;">
  <div class="foot_bg">
    <div class="clear" style="height:15px;"></div>
    <div class="container">
      <div class="row foot_menu">
        <div  class="col-lg-4 col-md-4 col-sm-12">
          <h2>Contact Info</h2>
          
          <p>8900 ABCD Road<br>
XYZ, AB4 89GR.</p>
<p><span>Phone:</span>   +1 800 500 0000<br>
<span>Email:</span>   mail@demolink.com</p>
           </div><!--col3 close-->
           
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2><a href="">About</a></h2>
         <a href="">Jobs</a><br>
        <a href="">Blog</a><br>
         
        <a href="">Security</a><br>
        <a href="">Contact</a><br>
        <a href="">Help</a><br>
       </div><!--col3 close-->
          
     	<div class="col-lg-4 col-md-4 col-sm-12">
          <h2 >Follow Us</h2>
          <div class="clear" style="height:10px;"></div>
			<a href="#"><img class="img-responsive_new" alt="" src="images/fb_icon.png"></a>
            <a href="#"><img class="img-responsive_new" alt="" src="images/tw_icon.png"></a>
            <a href="#"><img class="img-responsive_new" alt="" src="images/google_icon.png"></a>
            <div class="clear" style="height:30px;"></div>
            <p>Micro Assistant © Copyright 2015<br>
            <a href="">Privacy Policy</a></p>
      	 </div><!--col-3 close-->
          
         
       
      </div> <!--row close--> 
      <div class="clear" style="height:15px;"></div>
    </div> <!--container close--> 
  </div><!--cont_bg close--> 
</div>



<!-- JavaScript --> 
<script src="../../html_designs_old/HTML_Trello/HTML/js/jquery-1.10.2.js"></script> 
<!--<script src="js/bootstrap.min.js"></script> --> 
<script src="../../html_designs_old/HTML_Trello/HTML/js/bootstrap.js"></script> 
<script src="../../html_designs_old/HTML_Trello/HTML/js/modern-business.js"></script> 
<script type="text/javascript">
$(document).ready( function() {
    $('#myCarousel').carousel({
		//pause: true,
    	interval: false
	});
		
});

$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 4000,
  });
});

</script>
</body>
</html>
