<div class="section " style="padding-top:0; padding-bottom:0;">
    <div class="foot_bg">
        <div class="clear" style="height:15px;"></div>
        <div class="container">
            <div class="row foot_menu">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h2>Contact Info</h2>

                    <p>
                        8900 ABCD Road<br>
                        XYZ, AB4 89GR.
                    </p>
                    <p>
                        <span>Phone:</span>   +1 800 500 0000<br>
                        <span>Email:</span>   mail@demolink.com
                    </p>
                </div><!--col3 close-->

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h2><a href="">About</a></h2>
                    <a href="">Jobs</a><br>
                    <a href="">Blog</a><br>

                    <a href="">Security</a><br>
                    <a href="">Contact</a><br>
                    <a href="">Help</a><br>
                </div><!--col3 close-->

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h2>Follow Us</h2>
                    <div class="clear" style="height:10px;"></div>
                    <a href="#"><img class="img-responsive_new" alt="" src="~/images/fb_icon.png"></a>
                    <a href="#"><img class="img-responsive_new" alt="" src="~/images/tw_icon.png"></a>
                    <a href="#"><img class="img-responsive_new" alt="" src="~/images/google_icon.png"></a>
                    <div class="clear" style="height:30px;"></div>
                    <p>
                        Micro Assistant © Copyright 2015<br>
                        <a href="">Privacy Policy</a>
                    </p>
                </div><!--col-3 close-->



            </div> <!--row close-->
            <div class="clear" style="height:15px;"></div>
        </div> <!--container close-->
    </div><!--cont_bg close-->
</div>



<!-- JavaScript -->
<script src="~/Scripts/jquery-1.10.2.js"></script>
<!--<script src="js/bootstrap.min.js"></script> -->
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/modern-business.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myCarousel').carousel({
            //pause: true,
            interval: false
        });

    });

    $(document).ready(function () {
        //Set the carousel options
        $('#quote-carousel').carousel({
            pause: true,
            interval: 4000,
        });
    });

</script>