
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- /.section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="get_text text-center">
                        <img class="img-responsive_new" src="../images/logo1.png" alt="">
                        <div class="clear" style="height:40px;"></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                            <div class="clear" style="height:20px;"></div>
                            <p class="log"><a href="" class="link">How does it work?</a></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="~/Account/SignUp" class="btn button_join1">Sign Up </a>
                            <a href="~/Account/Login" class="btn button_join2">Log In</a>
                            <div class="clear" style="height:20px;"></div>

                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->
    <!-- section-->
    <div class="section pro_bg">
        <div class="clear" style="height:20px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pro_text">
                        <h2>Recent Job Postings<a href="~/Job/ViewJobs">View All Jobs</a></h2>

                    </div>
                </div>
                <div class="clear" style="height:30px;"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box">
                        <div class="caption">
                            <h2>Book Family Vacation</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Location:<span> Anywhere</span></p>
                            <p>Pay:<span> $50.00</span></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="~/Job/JobDesription" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box">
                        <div class="caption">
                            <h2>Upload videos to youtube</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Location:<span> Anywhere</span></p>
                            <p>Pay:<span> $30.00</span></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box">
                        <div class="caption">
                            <h2>Need ride to the Airport</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Location:<span> Atlanta, GA</span></p>
                            <p>Pay:<span> $80.00</span></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box">
                        <div class="caption">
                            <h2>Need Lawn cut and edged</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Location:<span> Marietta, GA</span></p>
                            <p>Pay:<span> $100.00</span></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="~/Job/Index" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box">
                        <div class="caption">
                            <h2>Post and manage eBay Postings</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Location:<span> Anywhere</span></p>
                            <p>Pay:<span> $20.00</span></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box">
                        <div class="caption">
                            <h2>Need a SAT tutor</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Location:<span> Dallas, TX</span></p>
                            <p>Pay:<span> $150.00</span></p>
                            <div class="clear" style="height:20px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div><!--caption close-->
                    </div>
                </div>

            </div><!--row close-->
            <div class="clear" style="height:40px;"></div>

        </div><!--container close-->

    </div>
    <!-- /.section-->
    <!-- section-->
    <div class="section ">
        <div class="clear" style="height:20px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pro_text">

                        <h2>Recently added service offerings<a href="~/Service/ViewServices">View All Service Offerings</a></h2>


                    </div>
                </div>
                <div class="clear" style="height:30px;"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box1">
                        <div class="caption">
                            <h2>East cabb lawn service</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Lorem ispsum dolor sit amet, consectetur</p>
                            <p>Lorem ispsum dolor sit amet, consectetur</p>
                            <div class="clear" style="height:30px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box1">
                        <div class="caption">
                            <h2>virtual travel agent</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Lorem ispsum dolor sit amet, consectetur</p>
                            <p>Lorem ispsum dolor sit amet, consectetur</p>
                            <div class="clear" style="height:30px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="top_box1">
                        <div class="caption">
                            <h2>dog walking services</h2>
                            <div class="clear" style="height:10px;"></div>
                            <p>Lorem ispsum dolor sit amet, consectetur</p>
                            <p>Lorem ispsum dolor sit amet, consectetur</p>
                            <div class="clear" style="height:30px;"></div>
                            <a href="" class="btn button_join3">Get Details </a>
                            <div class="clear" style="height:30px;"></div>
                        </div>
                    </div>
                </div>



            </div><!--row close-->
            <div class="clear" style="height:40px;"></div>

        </div><!--container close-->

    </div>
    <!-- /.section-->
    <!-- section-->
    <div class="section pro_bg1">
        <div class="clear" style="height:20px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pro_text2">
                        <h2>How does it work?</h2>
                        <div class="clear" style="height:10px;"></div>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. orem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. orem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. orem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. orem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

                    </div>
                </div>

            </div><!--row close-->
            <div class="clear" style="height:40px;"></div>

        </div><!--container close-->

    </div>
    <!-- /.section-->



    